h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}
.form {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 8px;
 padding-top: 36px;
}
.input-form {
  border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 36px;
    padding-left: 16px;
    margin-bottom: 32px;
}
.input-form:hover {
  border: 1px solid #000;
}
.input-form:focus {
  border: 1px solid #4e75ff;
  outline: none;
}
::placeholder {
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
}
.submit-btn {
  border-radius: 8px;
    min-width: 91px;
    height: 40px;
    border: none;
    background-color: #4e75ff;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #fff;
      margin-bottom: 32px;
}
.submit-btn:hover {
  background-color: #6c8cff;
}

  .loader {
      width: 28px;
      height: 28px;
      border: 5px solid #FFF;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
      margin: 0 auto;
    }
  
    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }


.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #6c8cff;
}


.hidden {
  display: none;
}
.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.gallery-item {
  border: 1px solid #808080;
   }
   .gallery-image {
    width: 360px;
      height: 200px;
   }
   .info {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
   }
   .gallery-subtitle {
      font-weight: 600;
      font-size: 12px;
      line-height: 133%;
      letter-spacing: 0.04em;
      color: #2e2f42;
   }
   .gallery-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 200%;
      letter-spacing: 0.04em;
      color: #2e2f42;
      text-align: center;
   }
